@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background: var(--bgPrimary);
  padding: 1rem 5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

p {
  color: var(--textPrimary);
  line-height: 1.5;
  font-weight: 300;
  margin: 0;
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}


